h1{
    font-family: 'Libre Baskerville' , sans-serif;
    text-transform: capitalize;
    color: antiquewhite;
   
}
body{
    background-color: black;
}
.image{
    border: 5px solid aliceblue;
    width: 100%;
    
}
p{
    color: aliceblue;
    text-align: center;
}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
}